<!DOCTYPE html>
<html>
<head>
  <title>Joyer</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="transparent-bg">
  <div id="welcome">
    <h1>
      <br>
      <br>
      Welcome to Tiedekulma
      <br><br>
      J O Y E R
      <br><br>
      cHALLENGe.
    </h1>
    <p>
      <br>
      Find jOYER cOINS hidden around Tiedekulma,
      <br>take a note of their four letter
      alphanumerical codes,
      <br>and submit them to this Challenge sYSTEM.
      <br>
      <br>
      A live score board will display the number of
      <br> jOYER cOINS found by each participant.
      <br>
      <br>Top three jOYERs will be rewarded
      <br>with surprisingly eggcelent pRIZES.
      <br>
      <br>
      <br>
      <b>Challenge sYSTEM opens on Monday 19th of March.</b>

    </p>
  </div>
</div>
</body>
</html>
